:root{
    --mainColor : #9607C9;
    --secondaryColor : #2756FE;
    --asscenColor : #E0E2FA;
    --default : #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 800px;
    font-family: 'Poppins', sans-serif;
}

/* Button Registrasi */
.regis {
    background-color: var(--secondaryColor) !important;
    border: none;
    width: 90px;
    height: 40px;
    color: var(--default);
}

.regis:hover {
    background-color: var(--default) !important;
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

/* Button 1*/

#fullstack .btn {
    background-color: var(--secondaryColor);
    border-radius: 10px;
    color: var(--default);
}

#fullstack .btn:hover {
    background-color: var(--default);
    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
}

/* Button 2 */

#frontend .btn {
    background-color: var(--secondaryColor);
    border-radius: 10px;
    border-width: 3px;
    border-color: var(--secondaryColor);
    color: var(--default);
}

#frontend .btn:hover {
    background-color: var(--default);
    border-width: 3px;
    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
}

/* Button 3 */

#backend .btn {
    background-color: var(--secondaryColor);
    border-radius: 10px;
    border-width: 3px;
    border-color: var(--secondaryColor);
    color: var(--default);
}

#backend .btn:hover {
    background-color: var(--default);
    border-width: 3px;
    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
}

/* Navbar */
.nav1 {
    background : linear-gradient(to right, #2756FE 10%, #9607C9 );
}


/* fullstack */
#fullstack {
    margin-top: 100px;
    min-height: 800px;
}

/* Card */
#fullstack .rounded {
    border-bottom-right-radius: 200px !important;
}

.card-text {
    text-align: justify;
}

#fullstack .card {
    background: transparent;
    border: none !important;
}

#fullstack .card video{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8);;
    background: transparent;
}
/* 
#fullstack .card:hover {
    background: linear-gradient(to right, #9607C9 80%, #7A3AE0 );
    color: var(--default);
    border-radius: 10px;
    border-color: var(--secondaryColor);
} */

/* Box1 */

#fullstack .box1 {
    width: 1050px;
    height: 170px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 30px ;
    border-color: var(--secondaryColor);
    background: linear-gradient(to top, #9607C9 10%, #2756FE );
}


/* Keahlian Frontend */
#frontend {
    width: 100%;
    min-height: 600px;
    background-color: var(--default);
    border-top-left-radius: 70%;
    border-end-end-radius: 60%;
}

/* Card */
#frontend .rounded {
    border-top-right-radius: 200px !important;
}

.card-text {
    text-align: justify;
}

#frontend .card {
    background: transparent;
    border: none !important;
}

#frontend .card video{
    box-shadow: 2px 2px 10px rgb(102, 102, 242);;
    background: transparent;
}

/* #frontend .card:hover {
    background: linear-gradient(to right, #9607C9 80%, #7A3AE0 );
    color: var(--default);
    border-radius: 10px;
    border-color: var(--secondaryColor);
} */

/* Box1 */

#frontend .box1 {
    width: 1050px;
    height: 170px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 30px ;
    border-color: var(--secondaryColor);
    background: linear-gradient(to top, #2756FE 10%, #9607C9 );
}

#frontend h2 a {
    color: var(--mainColor);
    text-decoration: none;
}

/* Keahlian Backend */
#backend {
    min-height: 500px;
}

#backend .rounded {
    border-bottom-left-radius:  200px !important;
}

.card-text {
    text-align: justify;
}

#backend .card {
    background: transparent;
    border: none !important;
}

#backend .card video{
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);;
    background: transparent;
}

/* #backend .card:hover {
    background: linear-gradient(to right, #9607C9 80%, #7A3AE0 );
    color: var(--default);
    border-radius: 10px;
    border-color: var(--secondaryColor);
} */

/* Box1 */

#backend .box1 {
    width: 1050px;
    height: 170px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 30px ;
    border-color: var(--secondaryColor);
    background: linear-gradient(to top, #2756FE 10%, #9607C9 );
}

/* contact */
#contact {
    
    margin-top: 50px;
    min-height: 300px;
    background-color: #4A4848;
}

/* footer */
#footer{
    min-height: 50px;
    background-color: #000;
    color: var(--mainColor);
}

#footer p a{
    color: var(--secondaryColor);
    text-decoration: none;
}

/* Test */
/* .number h6 {
    background-repeat: no-repeat;
    width: 110px;
    height: 69px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 69px;
    margin-top: -65px;
    margin-bottom: 30px;
}

.first-number h6 {
    background-image: url(../assets/images/features-number-01.png);
} */







