:root{
    --mainColor : #9607C9;
    --secondaryColor : #2756FE;
    --asscenColor : #E0E2FA;
    --default : #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--asscenColor);
    /* background-position: ; */
    min-height: 800px;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.nav1 {
    background : linear-gradient(to right, #2756FE 10%, #9607C9 );
}

/* Button Registrasi */
.regis {
    background-color: var(--secondaryColor) !important;
    border: none;
    width: 90px;
    height: 40px;
    color: var(--default);
}

.regis:hover {
    background-color: var(--default) !important;
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

/* Frist */
#frist {
    margin-top: 100px;
}

#frist .btn {
    background-color: var(--secondaryColor);
    color: var(--default);
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

#frist .btn:hover {
    background-color: var(--default);
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    border-width: 3px;
}

.button {
    background-color: var(--default);
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    border-width: 4px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    box-shadow: none;
}

.button:hover {
    background-color: var(--mainColor);
    color: var(--default);
    border-color: var(--default);
    border-width: 3px;
}

/* Secound */

#secound {
    background: url('../assets/images/bg-location-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 100%;
    min-height: 700px;
    margin-bottom: 100px;
    margin-top: 200px;
}

.row .margin{
    margin-top: 150px !important;
}

.text-violet {
    color: var(--mainColor);
}

/* Map */
#map {
    margin-top: 80px;
    min-height: 600px;
    background-color: var(--asscenColor);
    color: var(--mainColor);
}

.map{
    width: 1500px;
    border-color: var(--default) !important;
}

/* fourth */
#fourth {
    background: url('../assets/images/section-gmbr.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 100%;
    min-height: 500px;
    margin-top: 100px;
}

#fourth .btn {
    background-color: var(--secondaryColor);
    color: var(--default);
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

#fourth .btn:hover {
    background-color: var(--default);
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    border-width: 3px;
}

/* contact */
#contact {
    min-height: 300px;
    background-color: #4A4848;
}

/* footer */
#footer{
    min-height: 50px;
    background-color: #000;
    color: var(--mainColor);
}

#footer p a{
    color: var(--secondaryColor);
    text-decoration: none;
}

/* corausel */
.wrapper {
  max-width: 800px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #2756FE;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: var(--default);
  height: 158px;
  width: 158px;
  border-radius: 50%;
}
.card .img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #E0E2FA;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}